<!DOCTYPE html>
<html>
<head>
    <title>RSVP</title>
    <link rel="stylesheet" href="./../../static/css/style.css">
</head>
<body>
    <h1>RSVP</h1>
    <form id="rsvp-form">
        <label for="response">Response:</label>
        <select id="response" name="response">
            <option value="yes">Yes</option>
            <option value="no">No</option>
        </select>
        <button type="submit">Submit</button>
    </form>
    <script src="./../../static/js/rsvp.js"></script>
</body>
</html>